.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: tomato;
  font-size: 1em;
  color: #fff;
  border-radius: 5px;
}

form {
  margin-top: 1em;
}
form > div {
  margin: 10px auto;
}
input {
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
}

label {
  display: block;
  font-size: 1.3em;
}
